.gl-mb-5
  #update-shared-runners-form{ data: group_shared_runners_settings_data(@group) }
- if @group.licensed_feature_available?(:stale_runner_cleanup_for_namespace)
  .gl-mb-5
    #stale-runner-cleanup-form{ data: { group_full_path: @group.full_path, stale_timeout_secs: ::Ci::Runner::STALE_TIMEOUT.to_i } }
= render Pajamas::CardComponent.new(card_options: { class: 'gl-px-8 gl-py-6 gl-line-height-20' },
                                    body_options: { class: 'gl-display-flex gl-p-0!'}) do |c|
  = c.body do
    .gl-banner-illustration
      = image_tag('illustrations/rocket-launch-md.svg', alt: s_('Runners|Rocket launch illustration'))
    .gl-banner-content
      %h1.gl-banner-title
        = s_('Runners|New group runners view')
      %p
        = s_('Runners|The new view gives you more space and better visibility into your fleet of runners.')
      %a.btn.btn-confirm.btn-md.gl-button{ :href => group_runners_path(@group) }
        %span.gl-button-text
        = s_('Runners|Take me there!')
